{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8"/>#}
{#    <title>Django</title>#}
{#</head>#}
{#<body>#}
{#<h1>Register New User</h1>#}
{#<form method="post" onsubmit="return register()">#}
{#    <input name="Username" value="Username">#}
{#    <input name="Password" value="Password">#}
{#    <input name="Email" value="Email">#}
{##}
{#    <button name="submit" value="submit" onclick="register">SUBMIT ME</button>#}
{##}
{#</form>#}
{#</body>#}
{#</html>#}

<form method="post">
    <input name="Username" value="Username" onfocus="">
    <input name="Password" value="Password" onfocus="">
    <input name="Email" value="Email" onfocus="">
    <button type="submit">SUBMIT ME</button>

    {% csrf_token %}
    {{ form.as_p }}
</form>
